/* reset */
button,
h3 {
  all: unset;
}

.AccordionRoot {
  box-shadow: 0 2px 10px var(--black-a4);
  margin-top: 2rem;
  border-radius: var(--radius-2);
}

.AccordionItem {
  overflow: hidden;
}

.AccordionHeader {
  display: flex;
  cursor: pointer;
}

.AccordionTrigger {
  font-family: inherit;
  background-color: transparent;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  color: var(--black-9);
  box-shadow: 0 1px 0 var(--mauve-6);
  background-color: white;
}

.AccordionTrigger:hover {
  background-color: var(--jade-a3);
}

.AccordionTrigger[data-state="open"] {
  background-color: var(--jade-a9);
  color: white;
  font-weight: 800;
}

.AccordionContent {
  overflow: hidden;
  font-size: 1rem;
  color: var(--mauve-11);
  background-color: var(--mauve-2);
}
.AccordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  padding: 15px 20px;
}

.AccordionChevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
